<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".PeojulgaeApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/peojulgae_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/peojulgae_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Peojulgae"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">


        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity android:name=".AddproductActivity"
            android:exported="false"/>

        <activity android:name=".AddmartActivity"
            android:exported="false"/>

        <activity android:name=".AddrestaurantActivity"
            android:exported="false"/>

        <activity android:name=".ManageFoodActivity"
            android:exported="false"/>

        <activity android:name=".EditActivity"
            android:exported="false"/>

        <activity android:name=".AddmartproductActivity"
            android:exported="false"/>

        <activity android:name=".MplistActivity"
            android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BaloonActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".FoodListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".TakePayActivity"></activity>
        <activity android:name=".HavePayActivity"></activity>
        <activity android:name=".FoodCategoryActivity"></activity>
        <activity android:name=".MartSpecific"></activity>
        <activity android:name=".CancelPayActivity"></activity>
        <activity android:name=".MapActivity"></activity>
        <activity android:name=".GGgoActivity"></activity>
        <activity android:name=".alchon_activity"></activity>


        <meta-data
            android:name="com.kakao.vectormap.APP_KEY"
            android:value="ce4d7388c66581628fa16ad33987db46" />
    </application>

</manifest>
